* {
    font-family: ;
    margin: 0;
    padding: 0;
}
header {
    margin: 20px 0 145px 30px;
    

}
button {
    background: #4cb538;
    border: #6fbf44;
    width: 90px;
    height: 35px;
    border-radius: 5px;
    color: #ffffff;
}
section {
    display: inline-block;
}

