* {
    font-family: 'montserrat',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    margin: 44px 0 144px 76px;
}
.logo-image {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;

}

section {
    display: inline-block;
    margin-left: 76px;
}
.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    width: 108px;
    height: 29;
    margin: 5px;
    color: #989d9c;
}
.button-2 {
    color: #ffffff;
    background: #6a68f2;
    width: 130px;
    height: 41px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    width: 87px;
    height: 29px;
    border: none; cursor: pointer;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 100%;
    width: 513px;
    height: 122px;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 100%;
    width: 448px;
    height: 71px;
    color: #515151;

}

p{
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
    

}
.button-3 {
  background: #adff00;
  border-radius: 30px;
  width: 239px;
  height: 64px;
  border: none; cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #000000;



}